.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  .container1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 85%;
    box-shadow: rgb(97 97 97 / 68%) 0px 5px 15px;
  }
  .container2 {
    color: rgb(237, 237, 245);
    font-style: italic;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold; 
    
    
  }
  .container6{
    color: rgb(237, 237, 245);
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    font-weight: bold; 
  } 
  .container3{
      display: flex;
      
      justify-content:center;
      flex-direction: column;
      width: 75%;
      color: rgb(243, 243, 243);
      background-color: rgba(169, 169, 169, 0.192);
      font-size: 1em;
      padding: 16px;
      border: none;
     
      margin-bottom: 9px;
  }
  
  
  .button {
      display: inline-block;
      border-radius: 4px;
      background-color: #f4511e;
      border: none;
      color: #FFFFFF;
      
      font-size: 15px;
      padding: 10px;
      width: 100px;
      transition: all 0.5s;
      cursor: pointer;
      margin: 5px;
    }
    
    .button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }
    
    .button span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
    
    .button:hover span {
      padding-right: 25px;
    }
    
    .button:hover span:after {
      opacity: 1;
      right: 0;
    }
  
  
    .container4{
       width: 83%;
        color: white;
        font-size: 15px;
    }
  
    .container5{
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      width: 85%;
      margin-top: 7px;
      color: rgb(159, 205, 50);
      padding: 8px 4px;
      box-shadow: rgb(97 97 97 / 38%) 0px 5px 15px;
    }

    @media(max-width:780px){
      .container{
        width: 100%;
        position: relative;
        bottom: 40px;
      }
      
   }